
html, body {
    margin:           0;
	padding:          0;
    height:           100%;
	width:            100%;

	overflow:         hidden;

    background-color: var(--background);

    font-family: sans-serif;

    display: flex;
    flex-direction: column;
}

#wrapper {
    width: 98%;
    height: 99%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: max-content;
    padding-bottom: 0.75%;
}
header #name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header #name h1 {
    color: var(--text-colour);
    margin: 0;
    margin-bottom: 0.5%;

    flex-grow: 5;

    display: flex;
    align-items: flex-start;
    
    text-align: left;
    font-size: 52px;
}
header #name h1:after {
    flex-grow: 1;

    content: 'She/They/It - Transbian';
    background: var(--hr-colour);
    
    height: 1px;
    font-size: 12px;
    text-align: left;
    min-width: 20px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

header #name img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

header #site-row {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
}

header #site-row a {
    display: flex;
    align-items: center;

    margin-left: 1%;
    margin-right: 1%;    
    border-radius: 10px;
    padding: 2.5px 10px 2.5px 10px;

    text-decoration: none;
    color: var(--text-colour);
    background-color: var(--social-background);
}
header #site-row a:hover {
    background-color: var(--social-background-hover);
}

header #site-row a span {
    margin: 0;
    font-size: 24px;
    color: var(--social-text-colour);
}

header #site-row img.favicon {
    height: 1.25rem;
    margin-right: 0.5rem;
}


#main-section {
    padding: 1%;
    display: flex;
    gap: 2% 1%;
    flex-wrap: wrap;
    flex-direction: row;
    width: 98%;
    flex-grow: 5;
    background: linear-gradient(180deg, rgba(196,144,209,1) 0%, rgba(197,197,228,1) 50%, rgba(208,227,204,1) 100%);
    border-radius: 20px;
    overflow: scroll;
    scrollbar-width: none;

}

#main-section .project {
    display: flex;
    flex-direction: column;

    width: 22.25%;
    height: max-content;
    padding: 1%;

    background-color: var(--background);
    border-radius: 10px;

}

#main-section .project .name {
    font-size: 32px;
    margin: 0;
    color: var(--text-colour);
    margin-bottom: 0.5%;

    flex-grow: 5;

    display: flex;
    align-items: flex-start;
    
    text-align: left;
}

#main-section .project .name:after {
    flex-grow: 1;

    content: '';
    background: var(--hr-colour);
    
    height: 1px;
    font-size: 12px;
    text-align: left;
    min-width: 20px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

#main-section .project .icon {
    padding-top: 10px;
    padding-bottom: 10px;

    min-height: 250px;
    max-height: 450px;
    border-radius: 20px;
    object-fit: cover;
}

#main-section .project .description {
    font-size: 18px;
    margin: 0;
    color: var(--text-colour);
    margin-bottom: 0.5%;

    flex-grow: 5;

    display: flex;
    align-items: flex-start;
    
    text-align: left;
}


footer {
    width: 100%;
    height: max-content;
}
footer h2 {
    color: var(--text-colour);
    text-align: center;

    margin: 1%;
}
footer h2 a {
    text-decoration: none;
    color: var(--text-colour);
}
footer h2 a:hover {
    color: var(--link-hover);
}
