:root {
    --background: #2f2f2f;
    --social-background: #C491D1;
    --social-background-hover: #C6C7E3;
    --social-text-colour: #2f2f2f;

    --hr-colour: #ACACDE;

    --text-colour: #ACACDE;
    --line-colour: #ACACDE;
    --link-hover: #9d9dde;
}